dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules
/example/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

/build
/data
/dist
/temp
.env
/coverage
/src/*.export.*
tsup.config*.mjs
vite.config.ts.*.mjs
/debug-storybook.log
/src/data/icons/materialIcons.html
/src/assets/meta.json
/src/assets/packagesUsed.json
docs/packageUpdates.md
